@import url('https://fonts.googleapis.com/css?family=Great+Vibes');
@import url('https://fonts.googleapis.com/css?family=Rajdhani|Sacramento');

body{
  margin: 0;
  padding:0;
  font-family: 'Rajdhani', sans-serif;
  position: relative;
}
header {
  position: relative;
  width:100%;
  height:100vh;
  overflow: hidden;
}

header .main-nav {
  display: flex;
  justify-content: center;
  color: #f8f8f8f8;

}

header .main-nav .logo a {
  text-decoration: none;
  color:#ccc;
  font-family: 'Rajdhani', sans-serif;
}
header .main-nav.scrolled {
  position: fixed;
  width: 100%;
  left: 0;
  margin-bottom:20px;
  background: rgb(255, 255, 255);
  color: #262626;
  z-index:2;
  transition: 0.2s;
  /*box-shadow: 0 .125rem .25rem rgba(0,0,0,.075);*/
}
header .main-nav.main-nav.scrolled div {
  width: 45%;
  text-align: center;
  font-size: 1.5em;
}
header .main-nav.main-nav.scrolled div.logo a:hover,
header .main-nav.main-nav.scrolled div.menu i:hover {
  color:#262626;
}

header .main-nav div {
  width: 50%;
  margin: 20px;
  text-align: center;
  font-size: 2.8em;
}
header .main-nav .menu i {
  text-align: center;
  cursor: pointer;
  color: #ddd;
}

header .showcase .bg {
  background: linear-gradient(rgba(47, 46, 46, 0.87), rgba(19, 19, 19, 0.89)), url(Photo.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -2;

}
header .showcase .content {
  position: absolute;
  top: 28%;
  left: 15%;
  right: 15%;
  color: #fff;

}
header .showcase .content h1 {
  font-size: 3em;
  margin-top: 1.1em;
  text-transform: uppercase;
}
header .showcase .content p {
  font-size: 28px;
  margin-top: 1.2em
}
header .showcase .content a {
  padding-right:20px;
}

header .showcase .content a button {
  padding: 10px 20px;
  outline: none;
  border: none;
  font-size: 25px;
  margin-top: 1.5em;
  background: #7F00FF;  
  background: -webkit-linear-gradient(to left, #d618ef, #7f6599);  
  background: linear-gradient(to left, #d618ef, #7f6599);
  color: #fff;
  cursor: pointer;
  border-radius: 4px;
  font-family: 'Rajdhani', sans-serif;
}

header .showcase .content a:nth-of-type(2) button{
  padding: 8px 16px;
  outline: none;
  border: none;
  font-size: 25px;
  margin-top: 1.5em;
  background: #06beb6;  
  background: -webkit-linear-gradient(to left, #48b1bf, #06beb6);  
  background: linear-gradient(to left, #48b1bf, #06beb6); 
  color: #fff;
  cursor: pointer;

}

header .showcase .content button i {
  padding:10px;
  cursor: pointer;
}
.toggle-menu {
  display: none;
}
.toggle-menu.active {
  position: fixed;
  height:100vh;  
  background: #fff;
  width:100%;
  left:0;
  top:0;
  display: block;
  animation:nav-animate .5s linear;
  
}
.toggle-menu ul {
  
  margin-top:200px;;
}
.toggle-menu ul li {
  padding:20px;
  list-style: none;
  text-align: center;
}
.toggle-menu ul li a {
  font-size:2em;
  text-decoration:none;
  color: rgb(129, 127, 127);
  text-transform: unset;
}
.toggle-menu ul li a:hover{
  transition: 0.2s;
  text-decoration: line-through;
  color:#ff5252;
  border:2px soild #222020;
  
}
@keyframes nav-animate {
  0% {
  
  opacity:.5;
  }
 100% {
  
  opacity:1;
  }
}
#aboutme {
  height:auto;
  margin-top:40px;
 }
#aboutme h1 { 
  text-align: center;
  text-transform: uppercase;
}
#aboutme .content {
 display: flex; 
 flex-wrap: wrap;
 justify-content: space-around;
}
#aboutme .content .mypic{
border-radius: 4%;
}
#aboutme .content .intro {
  width:60%;
  font-size:20px;
  line-height: 1.2;
}
#contact {
  display: block;
  background: #262626;
  height: 100vh;
  color:white;
}
#contact form {
  font-size:1.2em;
}
#contact form input {
  display: inline;
}
input[type="text"],
input[type="email"],
input[type="tel"],
input[type="number"],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
}